/********** Base styles **********/
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	
}

h1{
	text-align: center;
	margin: 20px 0px 20px 0px;
	font-family: Helvetica;
	color: #27b289;
}


.row {
	width: 100%;
	
}

h4{
	float: right;
	padding: 5px;
	background-color: #484691;
	color: white;
	border: 1px solid black;
	font-family: Helvetica;
}
p{
	padding:5px 10px 0px 10px;
	clear: right;
}
.box{
	width: 96%;
	height: 130px;
	border: 1px solid black;
	float: left;
	overflow: auto;
	margin: 1.16%;
	background-color: #d7d2e8;
	color: #240d1d;
	font-family: Helvetica;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
	background-color: #d7d2e8;
	color: #240d1d;
	margin: 1.16%;
	font-family: Helvetica;
	
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 31%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px ) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
   
    border: 1px solid green;
	background-color: pink;
	margin: 1.16%;
	background-color: #d7d2e8;
	color: #240d1d;
	margin: 1.16%;
	font-family: Helvetica;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 46.5%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 95.5%;
  }
}

